<div class="ui inverted segment mt-2">
  <%= form_with model: model, class: "ui inverted form" do |f| %>
    <div class="field">
      <div class="ui fluid icon input">
        <%= f.text_field :body, placeholder: t('messages.form.placeholder') %>
        <%= button_tag type: 'submit', class: 'button-icon' do %>
          <i class="bi bi-pencil-square text-warning fs-2"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
