<div class='container body'>
  <div class='row row-cols-2'>
    <div class='col-9'>
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded chatbox">
        <div class='card-body'>
          <div class='card-text'>
            <div class='card messagesbox'>
              <div class="card-body">
                <div class="card-text scroll">
                  <div id='message-container'>
                    <%= render @messages %>
                  </div>
                </div>
              </div>
            </div>
            <% if @user %>
              <div class="extra content">
                <%= render partial: 'messages/form', locals: { model: [@user, @user.messages.build] } %>
              </div>
            <% else %>
              <p class='mt-2 text-center text-secondary'>
                <%= t('.you_should_enter') %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <%= render 'members' %>
    </div>
  </div>
</div>