// language flag
.flag {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('flags.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ru-flag {
  background-position: -1px -0px;

}
.en-flag {
  background-position: -1px -17px;
}

.nav {
  .flag {
    position: relative;
    top: 2px;
  }
}

// Title of Chatroom

.card.title {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  border: none !important;
}

.card .card-title {
  margin: 0 auto;
  text-align: center;
}

// Body of Chatroom

.container.body {
  margin: 0 auto;
  margin-top: 20px;
}

.chatbox {
  height: 450px !important;
}