// language flag
.flag {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('flags.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ru-flag {
  background-position: -1px -0px;

}
.en-flag {
  background-position: -1px -17px;
}

.nav {
  .flag {
    position: relative;
    top: 2px;
  }
}

// Title of Chatroom

.card.title {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  border: none !important;
}

.card .card-title {
  margin: 0 auto;
  text-align: center;
}

// Body of Chatroom

.container.body {
  margin: 0 auto;
  margin-top: 20px;
}

.chatbox {
  height: 500px !important;
}

.blank_center {
  margin: 0 auto;
  margin-top: 150px;
}

// form for messeges

.messagesbox {
  height: 350px !important;
}

.button-icon { 
  border: 0; 
  background: none;
}

// message

em {
  font-weight: bold;
}

.message_date {
  font-size: 75%; 
  color: #999;
}

.message_body {
  padding: 20px;
}

// scroll

.chatbox .messagesbox .scroll {
	overflow-y: scroll;
	width: 100%;
	margin: 10px 5px; 
  padding: 5px;
	text-align: justify;
  height: 300px;
}

.chatbox .scroll {
	overflow-y: scroll;
	width: 100%;
	margin: 10px 5px; 
  padding: 5px;
	text-align: justify;
  height: 450px;
}


.scroll::-webkit-scrollbar {
		width:5px;
}

.scroll::-webkit-scrollbar-track {
		-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius:5px;
}

.scroll::-webkit-scrollbar-thumb {
		border-radius:5px;
		-webkit-box-shadow: inset 0 0 6px red; 
}

// Session page

.sessionbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sessionbox .col .item_box {
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
  height: 350px;
}

.sessionbox .col .item_box .text-center {
  padding-top: 100px;
}

.text-red {
  color: red;
}

// users
.vertical.menu {
  width: 60% !important;
}

.vertical.menu .item {
  height: 40px !important;
}

.user_board {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

// set footer
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Lucida Console', monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.nav-link.footer-link {
  color: #91959a !important;
}
.nav-link.footer-link:hover, .nav-link.footer-link:focus {
  color: #c7cacd !important;
}

// set footer end